.caixas{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border:3px solid rgb(113, 209, 209);
    padding:8px;
  }
.alinhamentocad{
    display: flex;
    flex-direction: column;
}
.formulario{
    border: 4px solid rgb(113, 209, 209);
    border-top: none;
    width: 50%;
    margin: 0px 0px 30px 30px;
    padding: 30px;
    display:block;
    justify-content: space-between;
}
.cabform{
    margin: 20px 25px 0px 10px;
    background-color: rgb(113, 209, 209);
    font-weight: bold;
    width:56%;
    height: 40px;
    color:white;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}
.envio{
    width: 200px;
    height: 40px;
    font-size:20px;
    background-color:rgb(113, 209, 209);
    color: black;
    border-radius: 40px;
    border:3px solid black;
    font-weight: bold;
    position: absolute;
    margin-left: 450px;
  }