.img-logo {
    width: auto;
    height: 64px;
    margin: 12px;
    margin-left: 50px;
}

.header {
    background-color: var(--principal-color);
    padding: 0;
    height: 100px;
    width: auto;

}

.buttons a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: 64px;

}

.button {
    padding-left: 40px;
}

.buttons {
    margin: 30px;
    font: var(--font-card);
    margin-right: 100px;
    font-size: 30px;
    display: flex;
    float: right;
    margin-right: 50px;
}

.consultas {
    display: flex;

}

.consulta-title {
    font: bold 40px 'Montserrat', sans-serif;
    padding-top: 30px;
    margin-left: 50px;
    margin-bottom: 0;
    
}

.card-consulta {
    display: block;
    margin-left: 50px;
    background-color: var(--secondary-color);
    border-bottom: 10px solid var(--principal-color);
    width: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 15px;
    

}


.card-consulta h1 {
    margin-bottom: 5px;
    font: bold 20px 'Montserrat', sans-serif;
    
}

.card-consulta h2 {
    margin-bottom: 10px;
    font: 500 18px 'Montserrat', sans-serif;
}

.card-consulta p {
    margin-bottom: 20px;
    font: 500 15px 'Montserrat', sans-serif;
}

.vermais-btn {
    font: 700 15px 'Montserrat', sans-serif;
    background-color: var(--principal-color);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}