.img-logo {
  width: auto;
  height: 64px;
  margin: 12px;
  margin-left: 50px;
}
.img {
  margin: 0;
  width: 500px ;
  height:550px;
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--principal-color);
  padding: 0;
  height: 100px;
  width: auto;
  
}
.buttons a {
  text-decoration: none;
  color: black;
  background-color:white;
  border-radius: 20px;
  border:3px solid black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  height: 64px;
  
}
.button {
  padding-left:40px;
}
.buttons {
  margin: 30px;
  font: var(--font-card);
  margin-right: 100px; 
  font-size:30px;
  display: flex;
  float: right;
  margin-right: 50px;
}


.lateral {
  display: flex;
  align-items: center;
  float: right;
  width: 500px;
  height: auto;
  background-color: var(--principal-color);
  border-bottom: 0px;
}
.corpo {
  width: 60%;
  padding: 50px;
}
.corpo h1 {
  font: 600 5rem 'Montserrat', sans-serif;
  color: black;
  padding:  10px;
  font-size: 40px;
  text-align: center;
}
.corpo p{
  font: 400 1rem 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  width:;
}
.corpo img {
  align-items: center;
}

.img-rodape {
  width: 600px;
  height: auto;
  margin-left: 80px;

}