  .tituloinc{
    font-size: 30px;
    color:black;
    text-align:center;
    font-weight: bold;
    width: 40%;
    padding:3% 3% 0% 10%;
    text-decoration: underline;
  }
  .corpo{
    font-size: 20px;
    color:black;
    text-align: justify;
    width: 40%;
    padding:3% 10%;
  }