.botao{
  width: 250px;
  height: 70px;
  font-size:20px;
  background-color:rgb(113, 209, 209);
  color:white;
  border-radius: 40px;
  border:none;
  font-weight: bold;
  position: absolute;
}
.topo{
  padding: 1% 2%;
  background-color: rgb(113, 209, 209);
  color:white;
  font-size:50px;
  font-weight: bold;
}
