.home{
  position:absolute;
  right:0%;
  top:14%
} 
.topo{
  padding: 1% 2%;
  background-color: rgb(113, 209, 209);
  font-size:50px;
  font-weight: bold;
}
.topo a{
  text-decoration: none;
  color:white;
}
.titulo{
  font-size: 30px;
  color:black;
  text-align:center;
  font-weight: bold;
  width: 40%;
  padding:3% 3% 0% 10%;
}
.corpo{
  font-size: 20px;
  color:black;
  text-align: justify;
  width: 40%;
  padding:3% 10%;
}
.botao{
  width: 240px;
  height: 60px;
  font-size:20px;
  background-color:white;
  color: black;
  border-radius: 40px;
  border:3px solid black;
  font-weight: bold;
  position: absolute;
  left:80%;
  top:3%;

}
.topo{
  padding: 1% 2%;
  background-color: rgb(113, 209, 209);
  color:white;
  font-size:50px;
  font-weight: bold;
}
.topopre{
  color:black;
}
.rodape{
  background-color: rgb(113, 209, 209);
  position: absolute;
  bottom: 0%;
  height: 70px;
}
.img{
  position:absolute;
  right:0%;
  top:14%
}
.imgcab{
  width:70px;
}
