* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.button:hover {
  transform: scale(1.1);
}

:root {
  --principal-color: #22AFB8;
  --secondary-color: #E9FAFB;
  --terciary-color: #06373A;
  --basecolor: #dfd9d9;
  --smooth-color: #B1B1B1;
  --font-body: 100 1rem 'Montserrat', sans-serif;
  --font-title: 100 3rem 'Anton', sans-serif;
  --font-card: 100 1rem 'Bebas Neue', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
